# Jupyter Exercises

## Introductions
The Jupyter Notebook is a web-based interactive computing platform. The notebook combines live code, equations, narrative text, visualizations, ...

## Exercise 4 - Create a markdown cell to list data science languages
* Python
* R
* Julia

## Exercise 5 list data science libraries
1. NumPy
2. Keras
3. Pandas
4. PyTorch

## Exercise 6 a table of Data Science tools
| Tool 1| Tool 2| Tool 3|
| --- | --- | --- |
| SAS| Apache Spark | BigML|
| It is one of those data science tools which are specifically designed for statistical operation| it is a framework for cluster computing, | it offers a highly scalable, cloud-based Machine Learning service |

## Exercise 7 introducing arithmetic expression examples
$e^{i\pi} + 1 = 0$

In [13]:
## Exercise 8 a code cell to multiply and add numbers
2*4+5

13

In [17]:
## Exercise 9 converter min to hour
min = int(input("Enter Minutes :--> "))
print("Hour : Minute :--> ", int(min/60), " : ", min % 60)

Enter Minutes :-->  230

Hour : Minute :-->  3  :  50

230

## Exercise 10 Insert a markdown cell to list Objectives
* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* list Data Science tools.
* Edit arithmetic expression

## Exercise 11 Create a markdown cell to indicate the Author’s name.
"authors": [{"name": "MELI"}]

In [3]:
## Exercise 9 converter min to hour
days = 0
hours = 0
mins = 0

time = 155
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 2.5833333333333335 hours, 0 mins.

## Exercise 11  Create a markdown cell to indicate the Author’s name. 
# Author
MELI